body {
	background-color: hsla(219, 63%, 38%, 0.801);
}

.container {
	padding: 40px 20px 20px 20px;
	width: 99%;
	margin: auto;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	justify-content: center;
	flex-wrap: wrap;
}