
nav.navigation{
	height:80px;
	width: 100%;
	margin-bottom: 10px;
	background-color: hsla(219, 63%, 38%, 0.801);
}

.navigation h1{
	width: 85%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 15px; 
	color: #ffffff;
	font-size: 30px;
	text-transform:uppercase;
	letter-spacing: 3px;
	font-weight: 900;
	align-items: center;
}
